.tokenInputDiv {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;

  .form {
    margin: auto;
    width: 20em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: large;

    .label {
      margin: auto;
      color: teal;
    }

    .input {
      margin: auto;
      padding: 5px;
      border-width: 0 0 2px 0;
      width: 16em;
      font-size: medium;
      font-family: Verdana, sans-serif;
    }

    .input:focus {
      outline: none;
    }
  }
}
