.menu {
  background-color: white;
  height: 30px;
  width: 30px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* 'border-style' not available (dashed, solid, etc) */
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
